.mainPage .btn-sm{
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.7;
  border-radius: 53px;
  }
  
  .mainPage .btn-sm:hover {
  background-color:darkgray;
  }

  .mainPage .table thead tr th {
    vertical-align: middle;
    text-align: center;
}

.mainPage .table tbody tr td {
    vertical-align: middle;
    text-align: center;
}


  .mainPage .gridView {
      padding: 60px 50px;
  }
.mainPage .addBtn{
  float: left;
}

  .mainPage .viewChange{
    float: right;
  }

  .mainPage .gridView {

    padding: 0px 50px;
  
  }
  

  @media screen and (max-width: 768px) {
    .mainPage .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }